<div>
    <div class="row">
        <div class="col s3">
            <div class="collection">
                <a>
                    <input class="collection-item" type="text" placeholder="Filter restaurants by name" id="filterByName" [(ngModel)]="filter" (keyup)="filterChanged()" />
                </a>
                <a href="#" class="collection-item" *ngFor="#restaurantName of filteredRestaurantNames.keys()" (click)="restaurantSelected(restaurantName)">{{restaurantName}}</a>
            </div>
        </div>

        <div *ngIf="selectedRestaurant!=nil" class="col s9">
            <div class="row">
                <restaurant [restaurant]="selectedRestaurant">
                </restaurant>
            </div>
        </div>
    </div>

</div>
