<div>
    <div class="row">
        <div class="col s3">
            <div class="collection">
                <a>
                    <input class="collection-item" type="text" placeholder="Filter restaurants by name" id="filterByName">
                </a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item active">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
                <a href="#!" class="collection-item">Alvin</a>
            </div>
        </div>
        <div class="col s9">
            <div class="row">
                <restaurant *ngFor="#restaurant of restaurants" [restaurant]="restaurant">
                </restaurant>
            </div>
        </div>
    </div>

</div>
