<nav>


  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse" onclick='$(".button-collapse").sideNav()'><i class="mdi-navigation-menu"></i></a>
    <ul id="slide-out" class="side-nav" onclick='$(".button-collapse").sideNav()'>
      <li><a [routerLink]="['Home']">Restaurants</a></li>
      <li><a [routerLink]="['New']">New</a></li>
    </ul>

    <a href="#!" class="brand-logo hide-on-med-and-down">GibFoodSeeker</a>

    <a href="#!" class="right brand-logo hide-on-large-only"><i class="material-icons">loyalty</i></a>

    <div class="searchcontainer">
        <input type="search"  placeholder="Search for food here" required id="searchquery" type="text" [(ngModel)]="filter"/>
        <i class="material-icons btn-flat  waves-effect" (click)="filterChanged()">search</i>
    </div>

    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['Home']">Restaurants</a></li>
      <li><a [routerLink]="['New']">New</a></li>
    </ul>


  </div>
</nav>



<router-outlet></router-outlet>
