<div>
    <div class="card-panel">
        <div class="row">
            <div class="col">
                <img class="restaurantLogoImg" src="{{restaurant.logoUrl}}" />
            </div>
            <div class="col">
                <h4 class="restaurantName">{{restaurant.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>{{restaurant.type}}</div>
            </div>
            <div class="col">
                <div>{{restaurant.openhours}}</div>
            </div>
            <div class="col">
                <div>
                    <img class="takeawayicon" src="app/assets/takeawayicon.png" />
                </div>
            </div>
            <div class="col">
                <div>Delivery: {{restaurant.hasDelivery}}</div>
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <img class="restaurantimg" src="{{restaurant.photos[0]}}" />
            </div>
            <div class="col">
                <img class="restaurantimg" src="{{restaurant.photos[1]}}" />
            </div>
            <div class="col">
                <img class="restaurantimg" src="{{restaurant.photos[2]}}" />
            </div>
            <div class="col">
                <img class="restaurantimg" src="{{restaurant.photos[3]}}" />
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <ul class="collection container">
                    <li class="collection-item"><i class="material-icons">store</i> {{restaurant.address}}</li>
                    <li class="collection-item"> <i class="material-icons">call</i>
                        {{restaurant.tel}}
                    </li>
                    <li class="collection-item"><i class="material-icons">email</i> {{restaurant.email}}</li>
                    <li class="collection-item">

                        <a class="waves-effect waves-teal btn-flat websiteurl" href="{{restaurant.websiteurl}}">
                            <i class="material-icons">info</i>
                            <span>Website</span>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a class="waves-effect waves-teal btn-flat fburl" href="{{restaurant.fburl}}">
                            <img class="fbicon" src="app/assets/fbicon-32.png" />
                            <span>Facebook page</span>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a class="waves-effect waves-teal btn-flat tripadvisorurl" href="{{restaurant.tripadvisorurl}}">
                            <img src="app/assets/tripadvisoricon.png" />
                            <span>Tripadvisor page</span>
                        </a>
                </ul>
            </div>
            <div class="col s6">
                <img src="https://placehold.it/250x250" />
            </div>
        </div>
    </div>
    <div class="card-panel">
        <menu [menu]="restaurant.menu"></menu>
    </div>

</div>
