li {
    list-style-type: none;
}
.sebm-google-map-container {
    height: 300px;
}
body {
    background: #f0f0f0;
}
.restaurantimg {
    width: 150px;
    height: 150px;
}
.restaurantLogoImg {
    width: 100px;
    height: 100px;
}
.restaurantName {}
