li {
    list-style-type: none;
}
.sebm-google-map-container {
    height: 300px;
}
body {
    background: #f0f0f0;
}
.restaurantimg {
    width: 150px;
    height: 150px;
}
.restaurantLogoImg {
    width: 100px;
    height: 100px;
}
.fbicon {
    width: 24px;
    height: 24px;
}
.websiteurl {
    color: black;
}
.fburl {
    color: black;
}
.tripadvisorurl {
    color: black;
}
.takeawayicon {
    height: 50px;
}
.restaurantName {}
/*FORM*/

.restaurantDetailsOff {
    display: none;
}
.menuItemsOff {
    display: none;
}
